#result{
width:100%;
background-color: black;
color:white;
padding-top: 15px;
padding-bottom: 2px;
margin:0px 0px 0px 0px ;
height: 70px;
}

#back{
  background-color: blueviolet;
  height:auto;
  margin-top: 100px;
  width: auto;
  padding-bottom: 10px;
}
